<p id=”alert”><%= alert %></p>
<%= stylesheet_link_tag "users" %>

<div class="container emp-profile">
  <h1>Login</h1>
  <%= form_tag sessions_path do |form| %>
    <div class='row'>
      <div class=”field”>
        <%= label_tag :email %>
        <%= text_field_tag :email %>
      </div>
    </div>
    <div class='row'>
      <div class=”field”>
        <%= label_tag :password %>
        <%= password_field_tag :password %>
      </div>
    </div>
    <div class='row'>
      <div class=”actions”>
        <%= submit_tag "Login" %>
      </div>
    </div>
  <% end %>
  <div class='row'>
    Don't have a profile?
    <div class='row'>
      <%= link_to "Create Profile", new_user_path %>
    </div>
  </div>
  <form action=<%= users_path %> method="GET">
      <input type="submit" class="back-btn" name="btnAddMore" value="Back to Profiles"/>
  </form>
</div>
