<table>

  <thead>
    <tr>
      <th>Email</th>
      <th>Image</th>
      <th>Name</th>
      <th>Major</th>
      <th>Year</th>
      <th>Philosophy</th>
      <th>Courses</th>
      <th>About</th>
      <th colspan="8"></th>
    </tr>
  </thead>

  <tbody>
    <tr>
        <td><%= @user.email %></td>
        <td><%= @user.image %></td>
        <td><%= @user.name %></td>
        <td><%= @user.major %></td>
        <td><%= @user.year %></td>
        <td><%= @user.philosophy %></td>
        <td><%= @user.courses %></td>
        <td><%= @user.about %></td>       
    </tr>
  </tbody>
</table>