<p id="notice"><%= notice %></p>

<%= stylesheet_link_tag "users" %>

<%= render "navbar" %>
<div class=row>
  <div class=col-md-9>
    <%= form_tag(users_path, :method => "get",
                 class: 'navbar-form navbar-left') do %>

      <div class="input-group">

        <div class="search-field">
          <%= search_field_tag :name_filter, params[:name_filter], placeholder: "Search by Name", class: "form-control" %>
        </div>
        <!-- <div class="search-field">
          <%= search_field_tag :year_filter, params[:year_filter], placeholder: "Filter by Year", class: "form-control" %>
        </div> -->
        <div class="search-field">
          <%= search_field_tag :course_filter, params[:course_filter], placeholder: "Filter by Course", class: "form-control" %>
        </div>
        <div class="input-group-btn">
          <%= button_tag "", :class => 'btn btn-info glyphicon glyphicon-search',:name => nil%>
        </div>
      </div>
    <% end %>
  </div>
  <!-- <div class=col-md-3>
    <% if user = current_user %>
      <div class="logged_in">
        Logged in as <%= current_user.email %>.
        <div>
          <%= link_to 'Log Out', logout_path %> |
          <%= link_to 'View Profile', user_path(user) %>
        </div>
      </div>
    <% else %>
      <div class="logged_out">
        <%= link_to "Sign Up", signup_path %> |
        <%= link_to "Log In", login_path %>
      </div>
    <% end %>
  </div> -->
</div>

<div class="row">
  <h1>Tutors</h1>
</div>

<% @users.each do |user| %>
  <%= link_to user_path(user) do %>
    <div class="row search_result" >
      <div class="col-md-1">
        <div class="thumbnail_container">
          <% if user.image.url %>
            <% if user.image.url != "/images/original/missing.png"%>
              <%= image_tag user.image.url, height: 100, width: 100 %>
            <% end %>
          <% else %>
            <%= image_tag("user.svg", :class => "thumbnail_container") %>
          <% end %>
        </div>
      </div>
      <div class="col-md-3">
        <h5 style="padding-top: 1px; font-size: 25px;">
            <%= user.name%>
        </h5>
        <h6 style="margin-bottom: 3px;">
            <%=user.email %>
        </h6>
      </div>
      <div class="col-md-6">
        <% @true_classes.each do |sub| %>
          <% if user.courses && (user.courses.split.include? sub) %>
            <svg width="75" height="75">
              <circle cx="30" cy="30" r="27" stroke="black" stroke-width="3" fill=#ffeb99 />
              <text x="30" y="33"
                font-family="sans-serif"
                font-size="14px"
                text-anchor="middle"
                fill="black"><%= sub %></text>
            </svg>
          <% else %>
            <svg width="75" height="75">
              <circle cx="30" cy="30" r="27" stroke="black" stroke-width="3" fill="White"/>
              <text x="30" y="33"
                font-family="sans-serif"
                font-size="14px"
                text-anchor="middle"
                fill="black"><%= sub %></text>
            </svg>
          <%end%>
        <% end %>
      </div>
    </div>
  <% end %>
<% end %>
